* {
	/*border: 1px dashed red;
	min-height: 10px;*/
    margin:0;
    padding:0;
}
body{
    background-color: rgb(233, 233, 233);
    text-align: center;
    font-family: Arial, sans-serif;
}
.feed{
    background-color: #bcbcbc;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.header{
    background-color: #a5a4a4;
    color: white;
    width: 100%;
    text-align: center;
}
.post
    {
    background-color: white;
    width: 600px;
    margin-top: 45px;
    }
   .post-header
        {
        display:flex;
        justify-content: space-between;
        align-items: center;
        }
    .post-header h2
        {
        padding:5px
        }
    .post-header p {
        padding:5px
    }
    .post-content img
        {
            width: 100%;
        }

    .post-footer
        {
        padding:5px;
        }
.post h1
{
 
}